body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 20px;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.restaurant-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s;
}

.restaurant-card:hover {
  transform: scale(1.05);
}

.restaurant-image {
  width: 100%;
  border-radius: 10px;
}

.booking-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.booking-button:hover {
  background-color: #0056b3;
}
